body {
    background-color: lightblue;
    margin: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
}
           
.Box-1 {
    margin: 10px;
    padding: auto;
    position: relative;
}

#borders {
    width: 600px;
    height: 300px;
    padding: 5%;
    border-style: dotted;
    border-width: 10px;
    border: firebrick;
}

